<div class="card-header">
  <h3 class="mb-0">プロフィール</h3>
</div>
<div class="card-body">
  <div class="d-lg-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center mb-4 mb-lg-0">
      <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
      <div class="ms-3">
        <h4 class="mb-3">
          <%= @user.name %>
        </h4>
        <div class="mb-3">
          <p>Hobby: <%= @user.hobby %></p>
          <p>Profile: <%= @user.profile %></p>
        </div>
        <div class="mb-3">
          <% if logged_in? %>
            <div id="js-user-relationship-<%= @user.id %>">
              <% if current_user.following?(@user) %>
                <%= render 'relationships/unfollow', user: @user %>
              <% else %>
                <%= render 'relationships/follow', user: @user %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>